.App {
  text-align: center;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}
ol li,
ul li,
dl li {
  list-style: none;
}

/**
 * Dropdown Component Style
 */
 .yg-dropdown {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1070;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  padding-top: 3px;
}
.yg-dropdown-hidden,
.yg-dropdown-menu-hidden {
  display: none;
}
.yg-dropdown-menu {
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(31, 56, 88, 0.15);
  background-clip: padding-box;
}
.yg-dropdown-menu-item-group-title {
  color: rgba(31, 56, 88, 0.6);
  padding: 7px 10px;
  transition: all .3s;
}
.yg-dropdown-menu-submenu-popup {
  position: absolute;
  z-index: 1070;
}
.yg-dropdown-menu-item,
.yg-dropdown-menu-submenu-title {
  padding: 7px 10px;
  margin: 0;
  clear: both;
  font-size: 12px;
  font-weight: normal;
  color: rgba(31, 56, 88, 0.6);
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  line-height: 22px;
}
.yg-dropdown-menu-item-selected,
.yg-dropdown-menu-submenu-title-selected,
.yg-dropdown-menu-item-selected > a,
.yg-dropdown-menu-submenu-title-selected > a {
  background-color: rgba(31, 56, 88, 0.04);
}
.yg-dropdown-menu-item:hover,
.yg-dropdown-menu-submenu-title:hover {
  background-color: rgba(31, 56, 88, 0.04);
}
.yg-dropdown-menu-item-disabled,
.yg-dropdown-menu-submenu-title-disabled {
  color: rgba(31, 56, 88, 0.3);
  cursor: not-allowed;
}
.yg-dropdown-menu-item-disabled:hover,
.yg-dropdown-menu-submenu-title-disabled:hover {
  color: rgba(31, 56, 88, 0.3);
  background-color: #fff;
  cursor: not-allowed;
}
.yg-dropdown-menu-item:first-child,
.yg-dropdown-menu-submenu-title:first-child,
.yg-dropdown-menu-item:first-child > a,
.yg-dropdown-menu-submenu-title:first-child > a {
  border-radius: 3px 3px 0 0;
}
.yg-dropdown-menu-item:last-child,
.yg-dropdown-menu-submenu-title:last-child,
.yg-dropdown-menu-item:last-child > a,
.yg-dropdown-menu-submenu-title:last-child > a {
  border-radius: 0 0 3px 3px;
}
.yg-dropdown-menu-item:only-child,
.yg-dropdown-menu-submenu-title:only-child,
.yg-dropdown-menu-item:only-child > a,
.yg-dropdown-menu-submenu-title:only-child > a {
  border-radius: 3px;
}
.yg-dropdown-menu-item-divider,
.yg-dropdown-menu-submenu-title-divider {
  height: 1px;
  overflow: hidden;
  background-color: rgba(31, 56, 88, 0.1);
  line-height: 0;
}
.yg-dropdown-menu-item .yg-dropdown-menu-submenu-arrow,
.yg-dropdown-menu-submenu-title .yg-dropdown-menu-submenu-arrow {
  position: absolute;
  right: 10px;
}
.yg-dropdown-menu-item .yg-dropdown-menu-submenu-arrow:after,
.yg-dropdown-menu-submenu-title .yg-dropdown-menu-submenu-arrow:after {
  font-family: uxcore !important;
  font-size: 16px;
  font-style: normal;
  content: "\e65b";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.yg-dropdown-menu-submenu-title {
  padding-right: 26px;
}
.yg-dropdown-menu-submenu-title:first-child,
.yg-dropdown-menu-submenu-title:last-child {
  border-radius: 0;
}
.yg-dropdown-menu-submenu-vertical {
  position: relative;
}
.yg-dropdown-menu-submenu-vertical > .yg-dropdown-menu {
  top: 0;
  left: 100%;
  position: absolute;
  min-width: 100%;
  margin-left: 4px;
  transform-origin: 0 0;
}
.yg-dropdown-menu-submenu.yg-dropdown-menu-submenu-disabled .yg-dropdown-menu-submenu-title,
.yg-dropdown-menu-submenu.yg-dropdown-menu-submenu-disabled .yg-dropdown-menu-submenu-title .yg-dropdown-menu-submenu-arrow:after {
  color: rgba(31, 56, 88, 0.3);
}
.yg-dropdown-menu-submenu:first-child .yg-dropdown-menu-submenu-title {
  border-radius: 3px 3px 0 0;
}
.yg-dropdown-menu-submenu:last-child .yg-dropdown-menu-submenu-title {
  border-radius: 0 0 3px 3px;
}
@keyframes dropdownSlideInDown {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes dropdownSlideOutDown {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
  }
}
@keyframes dropdownSlideInUp {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes dropdownSlideOutUp {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10px);
  }
}
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-enter,
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-appear {
  opacity: 0;
  transform: translate(0, 10px);
  animation-timing-function: ease-out;
  animation-duration: .3s;
}
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-enter-active,
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-appear-active {
  visibility: visible;
  animation-name: dropdownSlideInDown;
}
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-leave {
  opacity: 1;
  transform: translate(0, 0);
  animation-timing-function: ease-out;
  animation-duration: .3s;
}
.yg-dropdown-placement-bottomLeft.dropdownSlideUp-leave-active {
  visibility: visible;
  animation-name: dropdownSlideOutDown;
}
.yg-dropdown-placement-topLeft.dropdownSlideUp-enter,
.yg-dropdown-placement-topLeft.dropdownSlideUp-appear {
  opacity: 0;
  transform: translate(0, -10px);
  animation-timing-function: ease-out;
  animation-duration: .3s;
}
.yg-dropdown-placement-topLeft.dropdownSlideUp-enter-active,
.yg-dropdown-placement-topLeft.dropdownSlideUp-appear-active {
  visibility: visible;
  animation-name: dropdownSlideInUp;
}
.yg-dropdown-placement-topLeft.dropdownSlideUp-leave {
  opacity: 1;
  transform: translate(0, 0);
  animation-timing-function: ease-out;
  animation-duration: .3s;
}
.yg-dropdown-placement-topLeft.dropdownSlideUp-leave-active {
  visibility: visible;
  animation-name: dropdownSlideOutUp;
}




.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
